
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');x
html {
    font-size: 100%;
    box-sizing: border-box;
}

* , *::before , *::after{
    box-sizing: inherit;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.hero{
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: auto;
}

.hero .menu{
    position: absolute;
    width: 100%;
    background-color: #242424;
}

.hero img{
    background-color: #242424;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}
.hero .menu a{
    font-size: 20px;
    padding: 0px 10px;
    color: #DE3105;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
}