
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
    font-size: 100%;
    box-sizing: border-box;
}

* , *::before , *::after{
    box-sizing: inherit;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.hero{
    position: relative;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: auto;
}

.hero .menu{
    top:0;
    margin: 0;
    height:30px;
    background-color: #242424;
}


.hero img{
    background-color: #242424;
    width: 100%;
}
.hero .menu a{
    font-size: 20px;
    padding: 0px 35px;
    color: #DE3105;
}

main{
    background-color: #eae7df;
    margin-top: 10px;
}

main section{
    padding: 10px 15px;
}

main section p{
    margin: 0;
}
main section .row{
    display: flex;
    align-items: center;
}
main .tastes{
    margin: 15px;
}
main .tastes .item{
    margin: 15px;
}

main .tastes .card{
    margin: 5px 5px;
}
main .tastes  .videogames{
    display: flex;
}

main .tastes  .videogames .card{
    width: auto;
    border: 10px;

}

.next-btn{
    margin-top: 10px;
}

.carousel-item img{
    border-radius: 3%;
}

main .skills{
    margin: 15px;
}

main .skills .logos{
    width: 300px;
}

main .skills .html{
    width: 360px;
}

.projects{
    margin: 15px;

}
.formation{
    margin: 15px;
}

.contact{
    height:auto ;
    width: inherit;
    padding: 15px 15px;
    margin: 0;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-title{
    width: auto;
    color: #E4BE2B;
    margin-left: 20px;
}

.contact .contact-icons{
    margin-left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    *{
        font-size: 8px;
    }

    h5{
        font-size: 8.5px;
    }
    main .tastes .videogames{
        display: block;
    }
    .hero .menu a{
        font-size: 6px;
        padding: 0px 10px;
    }

    .nes-charmander{
        display: none;
    }

    
    main .skills .logos{
        width: 50px;
        margin-top: 10px;
    }

    .nes-icon.is-large.heart {
        display: none;
    }
    .nes-icon.is-medium.heart{
        display: none;
    }
    main .tastes .card{
        margin: 0;
    }

    .card-title h5 {
        font: 5px;
    }
    main .tastes .card h4{
        font-size: inherit;
    }
    .card-body{
        padding: 0;
    }

    .carousel-caption{
        padding-bottom: 0;
        bottom: 5px;
    }

    .nes-progress{
        height: 10px;
        width: 90%;
    }

    .contact .contact-title {
        font-size: 10px;
    }
    .carousel-item.active img{
        width: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    *{
        font-size: 10px;
    }
    .hero .menu a{
        font-size: 10px;
        padding: 0px 10px;
    }
    main .tastes .card h4{
        font-size: 15px;
    }
    main .tastes .videogames{
        display: block;
    }
    .nes-progress{
        height: 10px;
        width: 90%;
    }
    .nes-icon.is-large.heart {
        display: none;
    }
    .nes-icon.is-medium.heart{
        display: none;
    }
    .carousel-caption{
        padding-bottom: 0;
        bottom: 5px;
    }

    main .skills .logos{
        width: 100px;
        margin-top: 10px;
    }

    .nes-charmander{
        display: none;
    }
    .card-title{
        font-size: 8.5px;
    }
    
    .card-body{
        padding: 0;
    }

    .carousel-item.active img{
        width: 450px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        
    *{
        font-size: 10px;
    }
    .nes-icon.is-large.heart {
        display: none;
    }
    .nes-icon.is-medium.heart {
        margin-bottom: 0;
        display: none;
    }
    .nes-progress{
        height: 20px;
    }
    .nes-icon.is-small.heart{
        display: inline-block;
    }
    .carousel-caption h5{
        font-size: 10px;
    }

    .hero .menu a{
        font-size: 10px;
        padding: 0px 10px;
    }

    .card-title{
        font-size: 13px;
    }

    .carousel-item.active img{
        width: 450px;
    }
    main .tastes .videogames{
        display: block;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        font-size: 12px;
    }
    .hero .menu a{
        font-size: 12px;
    }
    
    .nes-icon.is-large.heart {
        display: none;
    }

        
    .nes-icon.is-medium.heart {
        margin-bottom: 25px;
        display: inline-block;
    }
    .nes-icon.is-small.heart{
        display: none;
    }

    .card-title{
        font-size: 15px;
    }
    main .skills .logos{
        width: 300px;
    }

    .nes-charmander{
        display: inline-block;
    }

    .carousel-item.active img{
        width: 850px;
    }
    main .tastes .videogames{
        display: flex;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    *{
        font-size: 100%;
    }
    .nes-icon.is-medium.heart {
        display: none;
    }
    .nes-icon.is-small.heart {
        display: none;
    }

    .hero .menu a{
        font-size: 20px;
    }
    .nes-progress{
        height: 30px;
        width: 100%;
    }
    
    .card-title{
        font-size: 20px;
    }
    main .skills .logos{
        width: 300px;
    }
    .nes-icon.is-large.heart{
        display: inline-block;
    }
    .carousel-caption h5{
        font-size: 1.5rem;
    }

    .nes-charmander{
        display: inline-block;
    }
    .carousel-item.active img{
        width: 1000px;
    }

    main .tastes .videogames{
        display: flex;
    }
}






