
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');x
html {
    font-size: 100%;
    box-sizing: border-box;
}

* , *::before , *::after{
    box-sizing: inherit;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.hero{
    position: relative;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: auto;
}

.hero .menu{
    position: sticky;
    width: 100%;
    background-color: #242424;
}


.hero img{
    background-color: #242424;
    width: 100%;
}
.hero .menu a{
    font-size: 20px;
    padding: 0px 35px;
    color: #DE3105;
}

main{
    background-color: #eae7df;
    margin-top: 10px;
}

main section{
    padding: 10px 15px;
}

main section p{
    margin: 0;
}
main section .row{
    display: flex;
    align-items: center;
}
main .tastes{
    margin: 15px;
}
main .tastes .item{
    margin: 15px;
}



